.DS_Store
notes/*
.env
# .NET build artifacts
apps/civic-api/**/bin/
apps/civic-api/**/obj/

# Ruby bundler
apps/ha-bff/.bundle/
apps/ha-bff/vendor/bundle/

# Node modules
apps/ha-bff/node_modules/
apps/ha-frontend/node_modules/

node_modules/

# angular
.angular/